.submit-btn {
    background-color: #428b7a;
    color: white;
    font-weight: bold;
    border-radius:12px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    font-size: 15px;
    height: 48px;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    padding: 1rem 2.5rem;
    margin: 2rem;
}

.submit-btn:hover{
    background: #F6F9FE;
    color: #174ea6;
}

